ConsoleApp1/AuditService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuditService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pegasusservices/Data.Services/AuditService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pegasusservices/Data.Services/AuditService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pegasusservices/Data.Services/AuditService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ARINC.Data.Types.Service" />
      <xsd:import schemaLocation="http://pegasusservices/Data.Services/AuditService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuditService_GetAuditSources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditSources" />
  </wsdl:message>
  <wsdl:message name="IAuditService_GetAuditSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditService_GetAuditOperations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditOperations" />
  </wsdl:message>
  <wsdl:message name="IAuditService_GetAuditOperations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditOperationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuditService">
    <wsdl:operation name="GetAuditSources">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditService/GetAuditSources" message="tns:IAuditService_GetAuditSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditService/GetAuditSourcesResponse" message="tns:IAuditService_GetAuditSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuditOperations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditService/GetAuditOperations" message="tns:IAuditService_GetAuditOperations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditService/GetAuditOperationsResponse" message="tns:IAuditService_GetAuditOperations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuditService" type="tns:IAuditService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuditSources">
      <soap:operation soapAction="http://tempuri.org/IAuditService/GetAuditSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuditOperations">
      <soap:operation soapAction="http://tempuri.org/IAuditService/GetAuditOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditService">
    <wsdl:port name="BasicHttpBinding_IAuditService" binding="tns:BasicHttpBinding_IAuditService">
      <soap:address location="http://pegasusservices/Data.Services/AuditService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>